body {
    margin: 0;
    padding: 0;
    background-color: black;
}
img {
	width: auto;
    height: 550px;
	padding-top: 100px;
	padding-left: 100px;
    filter: grayscale(100%);
}
#text {
	position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    font-family: 'Oswald', sans-serif;
    color: #FF6347;
    font-size: 50px;
    letter-spacing: 8px;
}
.container:hover .image {
    opacity: 0.3;
}
.container:hover .overlay {
    opacity: 1;
}
.overlay {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 35%;
    left: 30%;
    text-align: left;
    color: white;
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1.5px;
    line-height: 32px;
    width: 400px;
}
i {
    position: fixed;
    top: 80%;
    left: 80%;
    color: white;
    font-size: 15px;
}
.menu {
    position: fixed;
    padding-left: 100px;
    background-color: black;
}
.btn {
    border: none;
    padding: 20px 50px;
    font-size: 15px;
    display: inline-block;
    background-color: black;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 8px;
    color: #FF6347;
}
input {
    position: fixed;
    top: 85%;
    right: 0;
    width: 50px;
    height: 50px;
    background-color: #FF6347;
    z-index: 100;
    text-align: center;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 8px;
    color: white;
}
input:hover {
    background-color: white;
    color: #FF6347;
}
audio {
    display: none;
}
.song {
    color: white;
    font-style: italic;
}